.user-info__edit-button{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: 38px;
    height: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    margin-top: 28px;
    cursor: pointer;


}